
//Header

.mi-clase{
    background-color: $color2;
    .logo {
        width: 250px;
        height: auto;
        max-width: 600px; 
    }
    @media (max-width: 992px) {
        .logo {
          max-width: 250px;
        }
    }
    @media (max-width: 576px) {
      .logo {
        max-width: 200px;
      }
    }
    .posicion{
        justify-content: end;
    }
    a{
        color:  $fcolor;
        font-family: $fonth;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .zoom-text {
        display: inline-block;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .zoom-text:hover {
        transform: scale(1.1);
        color: $color1;
    }
}

//footer

footer{
  .footercontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: $color1;
    color: $color2;
    text-align: center;
  }
  //media queries para que en dispositivos de entre 768px y 991px de pantalla se divida en 2 columnas el contenido del footer
  @media (max-width: 991px) and (min-width: 768px) {
  .footercontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    }
  }
  //media queries para que en dispositivos de 767px de pantalla para abajo se vean una sola columna con el contenido del footer
  @media (max-width: 767px) {
  .footercontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
  }
  strong{
    color: $fcolor2;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  p{
    color: $fcolor2;
    font-size: 1.3rem;
    font-weight: 400;
  }
  a{
    @extend p;
    text-decoration: none;
  }
  .posicionimg{
    display: flex;
    align-items: auto;
    padding: 1rem;
  }
  .imagen{
    max-width: 100%;
    height: auto;
    min-width: 200px;
  }
  //media queries para el logo de la marca en dispositivos de entre 991px y 768px de pantalla
  @media (max-width: 991px) and (min-width: 768px) {
  .imagen {
    max-width: 75%;
    }
  }
  //media queries para el logo de la marca en dispositivos de 767px de pantalla para abajo
  @media (max-width: 767px) {
  .imagen {
    max-width: 50%;
    }
  }
}


